[submodule ".registry"]
	path = .registry
	url = https://github.com/framverse/framverse.r-universe.dev
	branch = HEAD
[submodule "TAMMsupport"]
	path = TAMMsupport
	url = https://github.com/cbedwards-dfw/TAMMsupport
[submodule "crayolaTAMM"]
	path = crayolaTAMM
	url = https://github.com/cbedwards-dfw/crayolaTAMM
[submodule "excelsior"]
	path = excelsior
	url = https://github.com/cbedwards-dfw/excelsior
[submodule "framqaqc"]
	path = framqaqc
	url = https://github.com/FRAMverse/framqaqc
[submodule "framrosetta"]
	path = framrosetta
	url = https://github.com/FRAMverse/framrosetta
[submodule "framrsquared"]
	path = framrsquared
	url = https://github.com/FRAMverse/framrsquared
[submodule "namespacify"]
	path = namespacify
	url = https://github.com/cbedwards-dfw/namespacify
[submodule "openxlsx2"]
	path = openxlsx2
	url = https://github.com/JanMarvin/openxlsx2
	registered = false
[submodule "pssp"]
	path = pssp
	url = https://github.com/FRAMverse/pssp
[submodule "rrViewer"]
	path = rrViewer
	url = https://github.com/cbedwards-dfw/rrViewer
[submodule "testmaker"]
	path = testmaker
	url = https://github.com/cbedwards-dfw/testmaker
[submodule "xldiff"]
	path = xldiff
	url = https://github.com/cbedwards-dfw/xldiff
